<div id="invoice-content-wrapper">
    <app-navbar class="grid-col-span-4"></app-navbar>
    <h1 class="grid-col-span-4"> Payments</h1>
    <div  class="dash-card grid-col-span-4">
        <div class="dash-card-left">
            <h4>TOTAL RECEIVED</h4>
            <span class="money-value mat-display-1"><span class="currency">$</span>84,254<span class="floating-number">.58</span> </span>
            <mat-chip color="primary">+10% since last month</mat-chip>
        </div>
        <div class="dash-card-right">
            <div class="with-button-left with-button-left-color-blue">Pending</div>
            <span class="money-value mat-body-2">$84,254<span class="floating-number">.58</span> </span>
            <div class="with-button-left with-button-left-color-orange">In draft</div>
            <span class="money-value mat-body-2">$00,00<span class="floating-number">.00</span> </span>
        </div>
    </div>
    <h1 class="grid-col-span-4">Invoices</h1>
    <div class="table-container grid-col-span-4">
        
          
          
    </div>
</div>
