.content-wrapper{
    width: 100%;
    height: 100%;
    // background: red;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    .main-content{
        width: 100%;
        height: 100%;
        display: flex;
        box-sizing: border-box;
        flex-direction: column;
        flex-grow: 0;
        flex-shrink: 0;
        flex-wrap: nowrap;
        flex-basis: content;
        // overflow-y: scroll;
        .caroussel-hero-container{
            height: 600px;
            width: 100%;
            overflow: hidden;
            display: flex;
            position: relative;
            .caroussel-item{
                width: 100%;
                height: 100%;
                position: relative;
                background-repeat: no-repeat;
                background-size: cover;
                display: flex;
                justify-content: center;
                .caroussel-background{
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0px;
                    z-index: -1;
                    background
                    img{
                        width: inherit;
                        height: inherit;
                    }
                }
                .caroussel-content{
                    width: 60%;
                    height: 100%;
                    padding-top: 10%;
                    * {
                        color: white;
                        font-family: Roboto, Arial, Helvetica, sans-serif;
                    }
                    .caroussel-content-title{
                        display: inline-block;
                        width: 460px;
                        font-size: 2.5em;
                        font-weight: 600;
                        text-shadow: 0 0 5px black;
                        
                    }
                    .caroussel-content-text{
                        width: 500px;
                        font-size: .95em;
                        line-height: 1.5;
                        text-shadow: 0 0 2px black;
                        
                    }
                }
            }
            
        }


    }
}


// Buttons
.custom-button{
    width: fit-content;
    height: fit-content;
    cursor: pointer;
    display: flex;
    padding: 10px 10px;
    .button-text{
        margin-right: 20px;
        font-family: Roboto, Arial, Helvetica, sans-serif;
        color: white;
    }
    
}
.custom-button-green{
    background: #019D7A;
}
.custom-button-rounded-right{
    border-bottom-right-radius: 15px;
}


// Navigation
.top-navigation{
    width: 90%;
    height: 60px;
    background: white;
    position: absolute;
    top: 15px;
    left: 30px;
    z-index: 10;
    display: flex;
    flex-direction: row;
    .button-list-icon{
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        svg{
            transform: scale(1.5);
            color: black;
        }
    }

    .logo-container{
        color: #3C3C3C;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.5em;
        font-weight: 700;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }

    .dropdown-list-container{
        display: flex;
        flex-direction: row;
        gap: 5px;
        .list-item{
            display: flex;
            flex-direction: row;
            align-items: center;
            cursor: pointer;
            .list-item-text{
                color: #3C3C3C;
                margin-right: 5px;
                font-family: Roboto, Arial, Helvetica, sans-serif;
                font-weight: 600;
                font-size: .89em;
                text-transform: uppercase;
                border-bottom: 2px solid transparent;
                padding: 10px 0px;
            }
            .list-item-icon{
                display: flex;
                align-items: center;
                justify-content: center;
                svg{
                    transform: scale(.7);
                }
            }
        }
        .list-item:hover{
            .list-item-text{
                color: #35A992;
                border-bottom: 2px solid #35A992;
            }
        }
        .list-item-active{
            .list-item-text{
                color: #35A992;
                border-bottom: 2px solid #35A992;
            }
        }
    }

    .right-section{
        height: 100%;
        position: absolute;
        right: 0px;
        top: 0px;
        display: flex;
        align-items: center;
        padding-right: 10px;
        gap: 10px;
        .custom-button{
            .button-text{
                font-size: .75em;
                text-align: center;
            }
        }
    }
}

#transportation-service-block-wrapper{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0px 20px;
    box-sizing: border-box;
    padding-top: 4em;
}
#transportation-service-block{
    // width: 60%;
    width: fit-content;
    background: white;
    display: flex;
    flex-direction: row;
    justify-self:center;
    align-self: center;
    justify-content: space-around;
    box-sizing: border-box;
    padding: 0px 10px;
    margin-bottom: 25px;
    #transportation-service-block-left-section{
        width: 20%;
        padding-top: 10px;
        h1{
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            color: #2c3236;
        }
        
        .custom-button{
            border: 2px solid #019D7A;
            padding-left: 20px;
            padding-right: 20px;
            .button-text{
                color: #2c3236;
            }
        }
    }
    #transportation-service-block-right-section{
        width: 60%;
        p{
            font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            line-height: 25px;
        }
        p.bold-text{
            font-weight: 700;
            color: #2c3236;
        }
    }

}

#transportation-mode-list-container{
    width: 60%;
    
    justify-self: center;
    align-self: center;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-around;
    counter-reset: transportModeCounter;
    .transport-mode-item{
        display: flex;
        flex-direction: column;
        gap: 10px;
        .transport-mode-icon{
            img{
                width: 120px;
                height: 120px;
            }
        }
        .transport-mode-title{
            font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            text-align: center;
            position: relative;
        }
        .transport-mode-title::before{
            counter-increment: transportModeCounter;
            content: "0" counter(transportModeCounter);
            position: absolute;
            color: #D9EDEB;
            font-size: 3em;
            z-index: -1;
            top: -15px;
            left: 0px;
        }
    }
}