<div class="content-wrapper">
	<!-- navbar here -->
	<nav class="top-navigation">

	</nav>
	<!-- content here -->
	<div class="main-content">
		<div class="caroussel-hero-container">
			<div class="caroussel-item" style="background-image: url('assets/imgs/containers.jpg')">
				<!-- <div class="caroussel-background">
					<img src="assets/imgs/containers.jpg" alt="containers">
				</div> -->
				<div class="caroussel-content">
					<span class="caroussel-content-title">Transportations Services around the world</span>
					<p class="caroussel-content-text">
						Rockling Devario deep sea bonefish cutthroat trout streamer fish kaluga sialback
						scorpionfish sand dab, turkey golden loach sand diver. Leopard danio pintano
						bonnetmouth; blue whiting sukermouth armored catfish luderick backchin kingfish
					</p>
					<div class="spaccer" style="height: 50px"></div>
					<div class="custom-button custom-button-green custom-button-rounded-right">
						<div class="button-text">Explore more</div>
						<div class="button-icon">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
								<path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
							</svg>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<router-outlet></router-outlet>
