<div class="content-wrapper">
	<!-- navbar here -->
	<nav class="top-navigation">
		<div class="button-list-icon">
			<!-- hamburger icon -->
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
				<path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
			</svg>
		</div>
		<div class="x-spaccer" style="width: 50px"></div>
		<div class="logo-container">
			<div class="logo-logo">
				TransX
			</div>
		</div>
		<div class="x-spaccer" style="width: 100px"></div>
		<div class="dropdown-list-container">
			<div class="list-item">
				<div class="list-item-text">HOME</div>
				<div class="list-item-icon">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
						<path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
					</svg>
				</div>
			</div>
			<div class="list-item">
				<div class="list-item-text">Pages</div>
				<div class="list-item-icon">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
						<path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
					</svg>
				</div>
			</div>
			<div class="list-item list-item-active">
				<div class="list-item-text">Services</div>
				<div class="list-item-icon">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
						<path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
					</svg>
				</div>
			</div>
			<div class="list-item">
				<div class="list-item-text">Blog</div>
				<div class="list-item-icon">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
						<path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
					</svg>
				</div>
			</div>
			<div class="list-item">
				<div class="list-item-text">Contacts</div>
			</div>
		</div>

		<div class="right-section">
			<div class="dropdown-list-container">
				<div class="list-item">
					<div class="list-item-text">EN</div>
					<div class="list-item-icon">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
							<path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
						</svg>
					</div>
				</div>
			</div>
			<div class="custom-button custom-button-green">
				<div class="button-text">Get a Quote</div>
			</div>
		</div>
	</nav>

	<!-- content here -->
	<div class="main-content">
		<div class="caroussel-hero-container">
			<div class="caroussel-item" style="background-image: url('assets/imgs/containers.jpg')">
				<!-- <div class="caroussel-background">
					<img src="assets/imgs/containers.jpg" alt="containers">
				</div> -->
				<div class="caroussel-content">
					<span class="caroussel-content-title">Transportations Services around the world</span>
					<p class="caroussel-content-text">
						Rockling Devario deep sea bonefish cutthroat trout streamer fish kaluga sialback
						scorpionfish sand dab, turkey golden loach sand diver. Leopard danio pintano
						bonnetmouth; blue whiting sukermouth armored catfish luderick backchin kingfish
					</p>
					<div class="spaccer" style="height: 50px"></div>
					<div class="custom-button custom-button-green custom-button-rounded-right">
						<div class="button-text">Explore more</div>
						<div class="button-icon">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
								<path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
							</svg>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<router-outlet></router-outlet>
