
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();


// custom palette
$transx-primary-palette:(
  50: #e0f3ef,
  100: #b3e2d5,
  200:#82cfbb,
  300:#50bca1,
  400: #29ac8d,
  500: #019d7b,
  600: #00906f,
  700: #007f60,
  800: #006f52,
  900: #005337,
  contrast:(
    50: #869794,
    100: #709d91,
    200:#56a290,
    300:#50bca1,
    400: #00876e,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
  )
);

$transx-accent-palette:(
  50: #fff9e5,
  100: #ffeebe,
  200:#ffe395,
  300:#ffda6f,
  400: #ffd058,
  500: #ffc850,
  600: #febb4b,
  700: #fcaa46,
  800: #f99b43,
  900: #f4813e,
  contrast:(
    50: rgba(53, 52, 52, 0.4),
    100: rgba(53, 52, 52, 0.4),
    200:white,
    300:white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
  )
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
// $transx-primary: mat.define-palette(mat.$indigo-palette);
$transx-primary: mat.define-palette($transx-primary-palette, 500);
// $transx-accent: mat.define-palette(mat.$pink-palette, A200, A100, A500);
$transx-accent: mat.define-palette($transx-accent-palette, 500);

// The warn palette is optional (defaults to red).
$transx-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$transx-theme: mat.define-light-theme((
  color: (
    primary: $transx-primary,
    accent: $transx-accent,
    warn: $transx-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($transx-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
